<div class="navbar navbar-dark bg-dark box-shadow">
  <div class="container d-flex justify-content-start">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="navbar-brand d-flex align-items-center"
    >
      <strong>Home</strong>
    </a>

    <a
      routerLink="/peoples"
      routerLinkActive="active"
      class="navbar-brand d-flex align-items-center"
    >
      <strong>Peoples</strong>
    </a>
    
    <a
      routerLink="/admin"
      routerLinkActive="active"
      class="navbar-brand d-flex align-items-center"
    >
      <strong>AdminZone</strong>
    </a>


  </div>
  <div>
    <a routerLink="/login" routerLinkActive="active" class="navbar-brand d-flex align-items-center">
      <strong>{{loginStatus}}</strong>
    </a>
  </div>
</div>
