
<div class="container mb-4">
<button class="btn btn-sm btn-success ml-3" (click)="addNewUser()">{{'newuser' | translate}} </button>
<div class="card text-center m-3">
  <h3 class="card-header">{{'Users'|translate}}</h3>
  <div class="card-body">
    <table class="table table-sm table-striped ">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{{'First Name'|translate}}</th>
        <th scope="col">{{'Last Name'|translate}}</th>
        <th scope="col">{{'Gender'|translate}}</th>
        <th scope="col">{{'Email'|translate}}</th>
        <th scope="col">{{'Phone'|translate}}</th>
        <th scope="col">{{'Status'|translate}}</th>
        <th scope="col">{{'Action'|translate}}</th>
      </tr>
      <tr>
        <th scope="col">
          <input disabled type="text" class="form-control">
        </th>
        <th scope="col">
          <input type="text" class="form-control" placeholder="{{'First Name'|translate}}"  [(ngModel)]="firstName" (change)="getUserList()">
        </th>
        <th scope="col">
          <input type="text" class="form-control" placeholder="{{'Last Name'|translate}}"  [(ngModel)]="lastName" (change)="getUserList()">
        </th>
        <th scope="col">
          <select name="" id="" class="form-control" (change)="genreChange($event)">
            <option></option>
            <option *ngFor="let genre of genres">{{genre}}</option>
          </select>
        </th>
        <th scope="col">
          <input type="text" class="form-control" placeholder="{{'Email'|translate}}"  [(ngModel)]="email" (change)="getUserList()">
        </th>
        <th scope="col">
          <input type="text" class="form-control" placeholder="{{'Phone'|translate}}"  [(ngModel)]="phone" (change)="getUserList()">
        </th>
        <th scope="col">
          <select name="" id="" class="form-control " (change)="statusChange($event)">
            <option></option>
            <option *ngFor="let status of statuses">{{status|translate}}</option>
          </select>
        </th>
        <th scope="col"></th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <!--    <th scope="row">1</th>-->
        <td>{{user.id}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.gender | translate}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.status | translate}}</td>
        <td class="col-2">
          <button class="btn-sm btn" (click)="showUser(user.id)"> <i class="material-icons">account_circle</i></button>
          <button class="btn-sm btn" (click)="editUser(user.id)"> <i class="material-icons">build</i></button>
          <button class="btn-sm btn" (click)="deleteUser(user.id)"> <i class="material-icons">delete_forever</i></button>
        </td>
      </tr>
      <!--  ID	First Name	Last Name	Gender	Email	Phone	Status	Action-->
      </tbody>
    </table>
  </div>
  <div class="card-footer pb-0 pt-3">
    <jw-pagination [items]="items" [pageSize]="pageSize"  (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</div>
</div>
