<div class="container mb-4">
<ng-container *ngIf="currentUser">
  <div class="mt-1"> <h3> {{currentUser.first_name}} {{currentUser.last_name}}</h3> </div>
<table class="table table-bordered">
  <tbody>
  <tr>
    <th scope="row">Id</th>
    <td>{{currentUser.id}}</td>
  </tr>
  <tr>
    <th scope="row">{{'First Name'|translate}}</th>
    <td>{{currentUser.first_name}}</td>
  </tr>
  <tr>
    <th scope="row">{{'Last Name'|translate}}</th>
    <td>{{currentUser.last_name}}</td>
  </tr>
  <tr>
    <th scope="row">{{'Gender'|translate}}</th>
    <td>{{currentUser.gender}}</td>
  </tr>
  <tr>
    <th scope="row">{{'Dob'|translate}}</th>
    <td>{{currentUser.dob | date: "d MMMM y"}} </td>
  </tr>
  <tr>
    <th scope="row">{{'Email'|translate}}</th>
    <td>{{currentUser.email}}</td>
  </tr>
  <tr>
    <th scope="row">{{'Phone'|translate}}</th>
    <td>{{currentUser.phone}}</td>
  </tr>
  <tr>
    <th scope="row">{{'Web site'|translate}}</th>
    <td>{{currentUser.website}}</td>
  </tr>
  <tr>
    <th scope="row">{{'Address'|translate}}</th>
    <td>{{currentUser.address}}</td>
  </tr>
  </tbody>
</table>
</ng-container>
<ng-container *ngIf="usersPosts">
  <div class="mt-1"> <h3>{{'User Posts'|translate}}</h3> </div>
  <table *ngFor="let post of usersPosts" class="table table-bordered">
    <tbody>
    <tr>
      <th scope="row">{{'Post'|translate}} Id</th>
      <td>{{post.id}}</td>
    </tr>
    <tr>
      <th scope="row">{{'Title'|translate}}</th>
      <td>{{post.title}}</td>
    <tr>
      <th scope="row">{{'Body'|translate}}</th>
      <td>{{post.body}}</td>
    </tr>
    </tbody>
  </table>
</ng-container>
  <div>
    <button (click)="backToList()" class="btn btn-primary">{{'Back to list'|translate}}</button>
  </div>
</div>
