<div class="container text-center">
  <p class="h2">Мы в модуле: home</p>
  <p class="р3">В компоненте: home-table</p>
</div>

<div class="container">
  <div *ngIf="showalert">
    <app-my-alert [text]="delId"></app-my-alert>
  </div>

  <div class="mb-3 ml-3">
    <select (change)="chSel($event.target.value)" class="form-control-sm">
      <option>Количество строк</option>
      <option
        *ngFor="let item of [1, 2, 4, 5, 6, 7, 8, 9, 10]"
        [value]="item"
        >{{ item }}</option
      >
    </select>
  </div>
  <div class="table">
    <app-my-table [rows]="rowcount" (delete)="del($event)"></app-my-table>
  </div>
</div>
